<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5" 
    metadata-complete="true">
  <display-name>BD_Electronic_System_Hospital_</display-name>
  <display-name>HibernateWebApp</display-name>
  <servlet>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>pagesServlets.AuthorizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Log out from acount</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>pagesServlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Modify user data</display-name>
    <servlet-name>ModifyUserData</servlet-name>
    <servlet-class>pagesServlets.ModifyUserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserData</servlet-name>
    <url-pattern>/ModifyUser</url-pattern>
  </servlet-mapping>
  <filter>
        <filter-name>myFilter</filter-name>
        <filter-class>pagesServlets.MyFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>myFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
     <welcome-file>Authorize.jsp</welcome-file>
  </welcome-file-list>
</web-app>